<div>
  <mat-card class="formHeader">
    <mat-card-title>Editar minuta</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <app-form-minuta [formUpdate]="formUpdate"></app-form-minuta>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="goToPage()">Regresar</button>
      <button mat-raised-button color="primary" *ngIf="canUpdate && scriptGL.getCanUpdateRol('/minutas')"
        (click)="save()">Actualizar</button>
    </mat-card-actions>
  </mat-card>
</div>
