<div class="row">
  <div class="col-12">
    <h3 style="margin-bottom:5px;">Tarea T-{{ (data.id).toString().padStart(10,'0') }}</h3>
    <small>Asignada a: {{ data.usuarioId?.nombre }}</small>
    <hr>
  </div>
  <div class="col-12">
    <small>
      <span>Fecha de inicio: {{ data.fechaInicio | date: 'dd/MM/yyyy' }}</span><span *ngIf="data.fechaTermino"> - Fecha
        de término: {{ data.fechaTermino | date: 'dd/MM/yyyy' }}</span>
    </small>
  </div>
  <div class="col-12">
    <h4 style="margin-bottom:5px;">{{ data.tarea }}</h4>
    <p align="justify" [innerHtml]="data.descripcion ? data.descripcion : 'No hay descripción para esta tarea.'"></p>
    <span>Entregable: {{ data.entregable }}</span>
  </div>
  <div class="col-12" style="text-align:right;">
    <hr>
    <button type="button" mat-raised-button color="warn" (click)="closeModal()">Cerrar</button>
  </div>
</div>
