<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12" align="right">
          <button mat-button matTooltip="Mostrar ayudas del módulo" (click)="showHelpSection()">Ayuda
            <mat-icon>help</mat-icon></button>
        </div>
        <div class="col-12">
          <small>Los campos con asterisco (*) son requeridos</small>
        </div>
      </div>
      <form [formGroup]="formContact" #form="ngForm" (ngSubmit)="onSubmitForm()">
        <div class="row">
          <div class="col-12">
            <h3>Datos generales</h3>
            <hr>
          </div>

          <div class="col-12">
            <mat-form-field appearance="fill">
              <mat-label>Nombre del contacto</mat-label>
              <input formControlName="nombre" matInput type="text" placeholder="Nombre del contacto" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Correo electrónico</mat-label>
              <input formControlName="email" matInput type="email" placeholder="Correo electrónico" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Teléfono</mat-label>
              <input formControlName="telefono" matInput type="text" placeholder="Teléfono" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <mat-label>Sexo</mat-label>
            <br>
            <mat-radio-group formControlName="sexo">
              <mat-radio-button class="inline-radio-button" color="primary" [value]="'M'">Masculino </mat-radio-button>
              <mat-radio-button class="inline-radio-button" color="primary" [value]="'F'">Femenino </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-12 col-lg-4">
            <section>
              <mat-label>Recibir campaña de correos</mat-label>
              <br>
              <mat-checkbox class="primary" formControlName="recibirPublicidad" color="primary"></mat-checkbox>
            </section>
          </div>

          <div class="col-12">
            <mat-slide-toggle color="primary" [(ngModel)]="changePassword" [ngModelOptions]="{standalone: true}"
              (change)="changePass($event.checked)">{{ contactId > 0 ? 'Cambiar contraseña?' : 'Asignar contraseña
              manualmente' }}</mat-slide-toggle>
            <small *ngIf="contactId === 0">
              <br> * Si el interruptor está apagado, se asignará una contraseña de manera automática
            </small>
          </div>
        </div>
        <div *ngIf="showPasswordInputs" class="row">
          <div class="col-12">
            <small>* Utilizar mínimo 8 caracteres</small>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput [(ngModel)]="firstPassword" [ngModelOptions]="{standalone: true}"
                placeholder="Contraseña" autocomplete="off" required />
              <mat-icon matSuffix *ngIf="validPasswords">done</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Repita contraseña *</mat-label>
              <input type="password" matInput [disabled]="(firstPassword.length < 8) ? true : null"
                [(ngModel)]="secondPassword" [ngModelOptions]="{standalone: true}" minlength="8"
                placeholder="Confirmar Contraseña" autocomplete="off" (ngModelChange)="formValidPasswords()">
              <mat-icon matSuffix *ngIf="validPasswords">done</mat-icon>
              <span *ngIf="repeatPasswordError" style="color: red;">Las contraseñas no coinciden</span>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button type="button" mat-raised-button color="primary" (click)="form.ngSubmit.emit()">Guardar</button>
      <a [routerLink]="['/empresas/'+enterpriseIdIn+'/contactos']" mat-raised-button color="warn">Cancelar</a>
    </mat-card-actions>
  </mat-card>
</div>