<div>
  <mat-card class="formHeader">
    <mat-card-title>Editar cuenta de meeting</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <app-form-meetings-cuenta [idCuentaMeeting]="idCuentaMeeting"></app-form-meetings-cuenta>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <a [routerLink]="['/meetings/cuentas']" mat-raised-button color="warn">Regresar</a>
      <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>
