
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12 center">
            Resumen ejecutivo
            <h2 mat-dialog-title>{{ this.titulo }}</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 center">
            <canvas id="sexoChart"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 center">
            <canvas id="sectorChart"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 center">
            <canvas id="municipioChart"></canvas>
        </div>
    </div>
</mat-dialog-content>
