<!-- <ng-container>
  <mat-form-field class="search_field">
    <mat-label>Filtro</mat-label>
    <mat-select
      [formControl]="selectSearch"
      [disabled]="dataSource === null"
      name="selectSearch">
      <mat-option *ngFor="let item of filterOptions" [value]="item">
        {{item.etiqueta}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter_field">
    <mat-label>Buscar</mat-label>
    <input matInput
    [disabled]="!habilitarInputBusqueda"
    [formControl]="valueSearch"
    name="valueSearch" (keyup)="applyFilter()" placeholder="Buscar" autocomplete="off">
  </mat-form-field>
</ng-container> -->
