<div>
  
  <shared-dashboard-title [title]="'Productos de empresa'"></shared-dashboard-title>

  <a [routerLink]="['/empresas/'+enterpriseId+'/productos/nuevo']" mat-fab color="primary" class="btn-registrar" matTooltip="Nuevo registro">
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="['/empresas']" mat-fab color="warn" class="btn-regresar" matTooltip="Volver">
    <mat-icon>arrow_back</mat-icon>
  </a>


  <div class="mat-elevation-z8">
    <div class="row">
      <div class="col-12" align="end">
        <button mat-button matTooltip="Mostrar ayudas del módulo" (click)="showHelpSection()">Ayuda
          <mat-icon>help</mat-icon></button>
      </div>
      <div class="col-12">
        <h3>{{ enterprise.empresa }}</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-12 table-responsive">
        <table>
          <thead>
            <tr>
              <th>Producto</th>
              <th>Descripción</th>
              <th>Lugar de origen</th>
              <th>Estatus para pabellón</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="dataset && dataset.length === 0">
              <td style="text-align:center;" colspan="7">
                <h4>No hay registros para mostrar</h4>
              </td>
            </tr>
            <tr *ngFor="let data of dataset; let index1 = index;">
              <td>{{ data.nombre }}</td>
              <td>
                <div class="quill-show-content" [innerHTML]="data.descripcion"></div>
              </td>
              <td>{{ data.lugarOrigen }}</td>
              <td>{{ data.estatus ? 'Activo' : 'Inactivo' }}</td>
              <td style="text-align:center !important;">
                <button mat-icon-button [matMenuTriggerFor]="options"
                  matTooltip="Acciones disponibles"><mat-icon>menu</mat-icon></button>
                <mat-menu #options="matMenu" xPosition="before">
                  <h4 style="margin: 5px 3px;text-align: center !important;">Acciones</h4>
                  <mat-divider></mat-divider>
                  <button type="button" mat-menu-item matTooltip="Ver detalles" (click)="onClickShowProductDetails(data)"><mat-icon>visibility</mat-icon>Ver detalles</button>
                  <a [routerLink]="['/empresas/'+enterpriseId+'/productos/'+data.id+'/editar']" mat-menu-item color="primary" matTooltip="Editar registro"><mat-icon>edit</mat-icon>Editar</a>
                  <button mat-menu-item matTooltip="Eliminar registro" (click)="onClickDelete(data)"><mat-icon>delete</mat-icon>Eliminar</button>
                  <!-- 
                  <button mat-menu-item matTooltip="Cambiar estatus del registro" *ngIf="principal !== data.id"
                  (click)="switchRegistrationStatus(data.id,!data.estatus,index1)"><mat-icon>change_circle</mat-icon>{{data.estatus ? 'Inactivar' : 'Activar' }}</button>
                  <button mat-menu-item matTooltip="Recuperar contraseña" (click)="onClickPasswordRecovery(data)"><mat-icon>lock_reset</mat-icon>Recuperar contraseña</button> -->
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>