<div class="row">
  <div class="col-12">
    <h4>Datos para solicitud de asistencia a eventos</h4>
  </div>
  <div class="col-12">
    <mat-form-field appearance="fill">
      <mat-label>Eventos</mat-label>
      <mat-select [disabled]="isEdit" [(ngModel)]="asistenciaEvento.eventoId" (ngModelChange)="asistenciaEventoDataAdded()" [compareWith]="lib.objectComparisonFunction" required>
        <input class="matSelectFilter" placeholder ="Buscar evento" (keyup)="applyEmpresasFilter($event.target.value)"/>
        <mat-option [value]="null">Eventos</mat-option>
        <mat-option *ngFor="let evento of eventos" [value]="evento">{{ evento.nombreEvento }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de participación</mat-label>
      <mat-select [(ngModel)]="asistenciaEvento.tipoParticipacion" (ngModelChange)="asistenciaEventoDataAdded()" [compareWith]="lib.objectComparisonFunction" required>
          <mat-option [value]="null">Tipo de participación</mat-option>
          <mat-option [value]="'participante'">Participante/Expositor</mat-option>
          <mat-option [value]="'visitante'">Visitante</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <mat-form-field appearance="fill" >
      <mat-label>Empresa para vincular</mat-label>
      <mat-select [disabled]="isEdit" [(ngModel)]="asistenciaEvento.directorioEmpresarialId" (ngModelChange)="getUsuariosByDirectorio(asistenciaEvento.directorioEmpresarialId)" [compareWith]="lib.objectComparisonFunction" required>
        <input class="matSelectFilter" placeholder ="Buscar empresa" (keyup)="applyEmpresasFilter($event.target.value)"/>
        <mat-option [value]="null">Empresas para vincular</mat-option>
        <!-- <mat-option *ngFor="let empresa of empresasFiltro" [value]="empresa">{{ empresa.nombreLegal }}</mat-option>-->
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <mat-form-field appearance="fill">
      <mat-label>Contacto de la empresa a vincular</mat-label>
      <mat-select [disabled]="isEdit" [(ngModel)]="asistenciaEvento.usuarioContactoId" (ngModelChange)="asistenciaEventoDataAdded()" [compareWith]="lib.objectComparisonFunction" required>
        <mat-option [value]="null">Ninguno</mat-option>
        <mat-option *ngFor="let contacto of contactosSelect;" [value]="contacto">{{ contacto.nombreCompleto }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
