<div class="row">
  <div class="col-12">
    <h4>Responsable de la institución</h4>
    <hr>
  </div>
  <div class="col-12 col-sm-6 col-md-6">
    <div *ngIf="!showInstitutionAreaSelect()">
      <h4>Área: <b>{{ selectedArea?areasList[selectedArea]:'' }}</b></h4>
    </div>
    <mat-form-field appearance="fill" *ngIf="showInstitutionAreaSelect()">
      <mat-label>Área</mat-label>
      <mat-select [(ngModel)]="selectedArea" (ngModelChange)="setArea($event)" [compareWith]="utils.objectComparisonFunction" required>
        <mat-option [value]="null">Todas las areas</mat-option>
        <mat-option *ngFor="let area of areasList | keyvalue" [value]="area.key">{{ area.value }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6" *ngIf="responsiblesList.length>0">
    <div *ngIf="!showInstitutionResponsiblesSelect()">
      <h5>Responsable:</h5>
    </div>
    <shared-select-with-filter
    *ngIf="showInstitutionResponsiblesSelect()"
     [placeholder]="'Responsable de institución'" [keyName]="'nombre'"
      [valueSetted]="selectedResponsible" [optionsList]="responsiblesList"
      (emitSelectedValue)="setSelectedEnterpriseResponsible($event)"></shared-select-with-filter>
  </div>
</div>