<div>
  <mat-card class="formHeader">
    <mat-card-title>Nueva capacitación</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <app-form-capacitacion></app-form-capacitacion>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="goToPage()">Regresar</button>
      <button mat-raised-button color="primary" (click)="save()" *ngIf="scriptGL.getCanCreateRol('/capacitaciones')">Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>