<div>
  <mat-card class="formHeader">
    <mat-card-title>Nueva plantilla</mat-card-title>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <app-form-promocion-digital></app-form-promocion-digital>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="goToPage()">Regresar</button>
      <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>