.icon-display-s {
    font-size: 75px;
    color: #22bb33;
    height: auto !important;
    width: auto !important;
}

.icon-display-d {
    font-size: 75px;
    color: #bb2124;
    height: auto !important;
    width: auto !important;
}