<div>
  
  <shared-dashboard-title [title]="'Tareas'"></shared-dashboard-title>
  
  <button mat-raised-button color="primary" (click)="crearReporte()">Reporte</button>
  
  <a (click)="openNewTareaModal(null)" mat-fab color="primary" class="btn-registrar" matTooltip="Nuevo registro">
    <mat-icon>add</mat-icon>
  </a>

  <div class="mat-elevation-z8">
    <div class="row">
      <div class="col-12" align="end">
        <button mat-button matTooltip="Mostrar ayudas del módulo" (click)="showHelpSection()">Ayuda
          <mat-icon>help</mat-icon></button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar</mat-label>
          <input matInput [(ngModel)]="tarea" type="text" placeholder="Buscar" autocomplete="off">
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-12 table-responsive">
        <table>
          <thead>
            <tr>
              <th>Tarea</th>
              <th>Entregable</th>
              <th>Inicio</th>
              <th>Término</th>
              <th>Estado</th>
              <th>Responsable</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="dataset && dataset.length === 0">
              <td style="text-align:center;" colspan="9">
                <h4>No hay registros para mostrar</h4>
              </td>
            </tr>
            <tr *ngFor="let data of dataset; let index1 = index;">
              <td><small><span class="material-icons {{data.semaforo}}">circle</span></small> {{ data.tarea }}</td>           
              <td>{{ data.entregable }}</td>
              <td>{{ data.fechaInicio | date: "dd/MM/y" }}</td>
              <td>{{ data.fechaTermino | date: "dd/MM/y" }}</td>
              <td>{{ data.estatus ? 'Terminada' : 'Pendiente' }}</td>
              <td>{{ data.usuarioId.nombre }}</td>
              <td style="text-align:center !important;">
                <button mat-icon-button [matMenuTriggerFor]="options"
                  matTooltip="Acciones disponibles"><mat-icon>menu</mat-icon></button>
                <mat-menu #options="matMenu" xPosition="before">
                  <h4 style="margin: 5px 3px;text-align: center !important;">Acciones</h4>
                  <mat-divider></mat-divider>
                  <a *ngIf="data.estatus==false" (click)="openNewTareaModal(data)" mat-menu-item color="primary" matTooltip="Editar registro"><mat-icon>edit</mat-icon>Editar</a>
                  <button *ngIf="data.estatus==false" mat-menu-item matTooltip="Eliminar registro" (click)="onClickDelete(data)"><mat-icon>delete</mat-icon>Eliminar</button>
                  <button mat-menu-item matTooltip="Cambiar estatus del registro" (click)="switchRegistrationStatus(data.id,!data.estatus,index1)"><mat-icon>change_circle</mat-icon>{{data.estatus ? 'Pendiente' : 'Terminar' }}</button>      
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [disabled]="disabled"
          [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
          [hidePageSize]="hidePageSize" [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>

</div>