<div>
  <mat-card class="formHeader">
    <mat-card-header >
      <mat-card-title>Explorador de eventos </mat-card-title>
    </mat-card-header>
  </mat-card>


  <section>
    <mat-tab-group>
      <mat-tab label="Mis eventos"> 
        <div class="row" *ngIf="listaUsuarioEventos !== null">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container" *ngFor="let i of listaUsuarioEventos">
            <mat-card>
              <mat-card-content>
                <div class="card-cover">
                  <img
                    loading="lazy"
                    [src]="i.pathfileCover !== null ? i.pathfileCover : './assets/img/eventos-ferias/pefce-logotipo.png'"
                    alt="Portada">
                </div>
                <div class="card-content">
                  <div>
                    <strong *ngIf="perfilUsuario === 'EMPRESA' && verLabelPrivadoIngresar(i)"
                      style="cursor:pointer;margin-top:12px;">Estatus: {{obtenerMensajeEstatus(i)}}</strong>
                    <strong *ngIf="perfilUsuario === 'EMPRESA' && verLabelPublicoIngresar(i)"
                      style="cursor:pointer;margin-top:12px;">Estatus: {{obtenerMensajeEstatus(i)}}</strong>
                    <hr *ngIf="perfilUsuario === 'EMPRESA'">
                  </div>
                  <div class="card-title">
                    {{i.nombreEvento}}
                  </div>
                  <p>{{i.descripcion}}</p>
                  <small>Inicio: {{ i.fechaInicio | date : 'dd/MM/yyyy HH:mm' }}</small> <br>
                  <small>Fin: {{ i.fechaFin | date : 'dd/MM/yyyy HH:mm' }}</small> <br>
                  <small>Tipo de evento: {{ i.tipoId.nombre }}</small> <br>
                  <small>Privacidad del evento: {{ lib.ePrivacidadEvento[i.privacidad] }}</small> <br>
                  <small>Modalidad del evento: {{ lib.eModalidadEvento[i.modalidad] }}</small> <br>
                  <div *ngIf="i.modalidad === 'presencial'">
                    <small>
                      <p>
                        Sede: <br>
                        <strong>{{i.sede}}</strong><br>
                        Domicilio: {{ i.domicilio }}, {{i.municipio}}, {{ i.estado }}
                      </p>
                    </small>
                  </div>
                </div>
                <div class="card-footer">
                  <!-- Ver video 
                  <button *ngIf="i.pathfileVideo !== null" (click)="verVideo(i.nombreEvento,i.pathfileVideo)" mat-raised-button
                    color="warn">Video</button>
                  -->
                  <a [routerLink]="['/eventos-ferias/explorador/eventos/'+i.id+'/stands']"
                    *ngIf="verBotonPublicoVirtualIngresar(i)" mat-raised-button color="primary">
                    Ingresar
                  </a>         
                
                  <!--
                  <a *ngIf="verBotonExplorar(i)" [routerLink]="['/eventos-ferias/explorador/eventos/'+i.id+'/stands']"
                    mat-raised-button>
                    Explorar
                  </a>
                  -->
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div *ngIf="listaUsuarioEventos == null || listaUsuarioEventos.length == 0">
          <mat-card>
            <mat-card-content>
              <div class="explorador-vacio-content">
                Este explorador no tiene eventos registrados, por favor vaya a Todos los Eventos para registrarse en algún evento.
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Todos los eventos"> 
        <div class="row" *ngIf="listaEventos !== null">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container" *ngFor="let i of listaEventos">
            <mat-card>
              <mat-card-content>
                <div class="card-cover">
                  <img
                    loading="lazy"
                    [src]="i.pathfileCover !== null ? i.pathfileCover : './assets/img/eventos-ferias/pefce-logotipo.png'"
                    alt="Portada">
                </div>
                <div class="card-content">
                  <div>
                    <strong *ngIf="perfilUsuario === 'EMPRESA' && verLabelPrivadoIngresar(i)"
                      style="cursor:pointer;margin-top:12px;">Estatus: {{obtenerMensajeEstatus(i)}}</strong>
                    <strong *ngIf="perfilUsuario === 'EMPRESA' && verLabelPublicoIngresar(i)"
                      style="cursor:pointer;margin-top:12px;">Estatus: {{obtenerMensajeEstatus(i)}}</strong>
                    <hr *ngIf="perfilUsuario === 'EMPRESA'">
                  </div>
                  <div class="card-title">
                    {{i.nombreEvento}}
                  </div>
                  <p>{{i.descripcion}}</p>
                  <small>Inicio: {{ i.fechaInicio | date : 'dd/MM/yyyy HH:mm' }}</small> <br>
                  <small>Fin: {{ i.fechaFin | date : 'dd/MM/yyyy HH:mm' }}</small> <br>
                  <small>Tipo de evento: {{ i.tipoId.nombre }}</small> <br>
                  <small>Privacidad del evento: {{ lib.ePrivacidadEvento[i.privacidad] }}</small> <br>
                  <small>Modalidad del evento: {{ lib.eModalidadEvento[i.modalidad] }}</small> <br>
                  <div *ngIf="i.modalidad === 'presencial'">
                    <small>
                      <p align="justify">
                        Sede: <br>
                        <strong>{{i.sede}}</strong><br>
                        Domicilio: {{ i.domicilio }}, {{i.municipio}}, {{ i.estado }}
                      </p>
                    </small>
                  </div>
                </div>
                <div class="card-footer">
                  <button (click)="registroEvento(usuarioEmpresa,i)"
                    [disabled]="perfilUsuario !== 'Empresa'" mat-raised-button color="primary">
                    Registro
                  </button>          
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div *ngIf="listaEventos !== null && listaEventos.length === 0">
          <mat-card>
            <mat-card-content>
              <div class="explorador-vacio-content">
                No existen eventos pendientes de iniciar. Si ya se registró en algún evento, puede verlo en la pestañana "Mis Eventos"
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
